.user-ifo-wrap {
  margin-left: 23px;
}

.user-name {
  margin-top: 13px;
  color: #635c73;
  font-size: 24px;
  line-height: 32px;
}

.user-nickname {
  color: #8d81ac;
  font-size: 16px;
}

.user {
  margin: 87px 0 50px;
}

.review {
  font-size: 20px;
  line-height: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.review-wrap {
  border-bottom: 1px solid #c7c7c7;
}

span {
  color: #8d81ac;
}

.time {
  color: #848e97;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto 50px;

}

.button {
  width: 240px;
  height: 50px;
  border-radius: 4px;
  line-height: 50px;
  color: #fff;
  font-size: 21px;
  margin-bottom: 110px;
  &:hover {
    cursor: pointer;
    }
}

.netw-btns-wrap {
  margin-top: 60px;
}

.netw {
  margin: 12px 40px 15px 24px;
}

.github {
  background-color: #f3f3f3;
  color: #000;
  &:hover {
    background-color: #dadada;
  }
}

.twitter {
  background-color: #26a6d1;
  &:hover {
    background-color: #2295bc;
  }
}

.facebook {
  background-color: #3b5998;
  &:hover {
    background-color: #355088;
  }
}

.netw-icon-g {
  height: 20px;
  width: 20px;
}

.netw-icon-t {
  height: 16px;
  width: 18px;
}

.netw-icon-f {
  height: 16px;
  width: 8px;
}

.followers {
  color: #848e97;
  font-size: 14px;
  line-height: 14px;
  margin-top: 18px;
  text-align: center;
}

















