.subscribe {
  height: 135px;
  background-color: #f4f4f4;
}

h4 {
  color: #635c73;
  font-size: 30px;
  font-weight: 700;
  line-height: 135px;
  margin: 0;
}

.email-form {
  border-radius: 21px;
  width: 335px;
  height: 42px;
  color: #c8cbcf;
  font-size: 14px;
  line-height: 17px;
  padding-left: 30px;
  margin-top: 46px;
  border: none;
  margin-right: 20px;
}

.submit-btn {
  width: 140px;
  height: 42px;
  background-color: #8d81ac;
  border-radius: 21px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}